/vendor
/node_modules
.env
.env.backup
.phpunit.result.cache
/storage/*.key
/public/hot
/public/storage
/bootstrap/cache/*.php
/build
/.idea
.DS_Store
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.vscode/
